*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#nav-bar{
    height: 4.6rem;
    display: flex;
    justify-content: space-between;
}

#nav-1{
    display: flex;
    width: 6.25rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5rem;
}

#nav-2{
    display: flex;
    width: 18.75rem;
    justify-content: space-around;
    align-items: center;
    margin-right: 1.5rem;
}

.nav-footer-link{
    text-decoration: none;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.75);
}

#grid-image{
    height: 1.675rem;
    filter: opacity(50%);
}

#signin-btn{
    background-color: #4285f4;
    color: #fff;
    padding: 0.65rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0.125rem;
}

.nav-footer-link a:hover{
    border-bottom: 1px rgba(0, 0, 0, 0.75) solid;
}

#search-logo-entry{
    margin-top: 5rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#company-logo{
    padding-top: 6.875rem;
}

#search-bar{
    margin-top: 1.875rem;
    width: 36.25rem;
    height: 3rem;
    border: 1px #dfe1e5 solid;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

#search-entry{
    border: none;
    width: 80%;
    height: 2rem;
    outline: none;
}

.search-icon{
    width: 10%;
    height: 1.5rem;
    filter: opacity(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-svg{
    height: 60%;
}

#search-btns-section{
    height: 2.5rem;
    display: flex;
    justify-content: center;
}

#search-btns-container{
    display: flex;
    width: 17rem;
    justify-content: space-between;
}

.search-btns{
    padding: 0.65rem 1rem;
    border: none;
    border-radius: 0.2rem;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 300;
}

footer{
    margin-top: auto;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    background-color:#f5f8ff;
    border-top: #dfe1e5 1px solid;
}

#footer-1{
    display: flex;
    width: 50rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5rem;
}

#footer-2{
    display: flex;
    width: 16.75rem;
    justify-content: space-around;
    align-items: center;
    margin-right: 1.5rem;
}

#svg-ref{
    color: rgba(0, 0, 0, 0.75);
}